@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome">
    <h1>Sacrament Meeting Planner</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>This is Your Sacrament Meeting Planner</h2>
        <p>
            This meeting planner is useful tool for bishops and bishiprics.
            Here you can easily fill out the form and the details will be stored in our database
            for your safe keeping. 

            Enjoy!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Plan With Accurate Data</h2>
        <p>Click this link to access your ward lists and see leaders to help you plan.</p>
        <p><a class="btn btn-default" href="https://www.churchofjesuschrist.org/help/support/mobile-apps/lds-tools?lang=eng">Access LDS Tools &raquo;</a></p>
    </div>
</div>